@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-M.ttf")
}

@font-face {
    font-family: "Digital";
    src: url("../fonts/DigitalPlayItalicSt.ttf")
}

/*logo taille */

.parallax-container img {
    background-repeat: no-repeat;
    background-size: cover;

    max-width:100%;
    min-width:40%,

}
#texte {
z-index:99 !important;
color:white;
text-align:center;
margin-top:10%;
font-family:Ubuntu;
font-size: 3em;


}

/*///////////////////////////////////////////////////*/


/*image gagnante*/

#gagnant {
    height: 300px;
    width:100%;
  
}




/*place commentaire*/

#commentaire {
    color: #333E53;
    font-family: Ubuntu;
    border: 1px double black;
    overflow-y: scroll;



}
/*clignotement*/
@keyframes fadeinout {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.blink {
    animation: fadeinout 2s infinite;
    font-family: Ubuntu;
    padding-bottom:5%;
    color: #333E52;
}
/*///////////////////////////////////////*/
#Compte{
padding-bottom:2%;
  font-family: Digital;
  color:red;
}
#colorred{
color:red;
}
#Compte span{
  color:black;
}
