@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-M.ttf")
}

@font-face {
    font-family: "Digital";
    src: url("../fonts/DigitalPlayItalicSt.ttf")
}

/*logo taille */


#texte {
z-index:99 !important;
color:white;
text-align:center;
margin-top:10%;
font-family:Ubuntu;
font-size: 3em;

}

/*///////////////////////////////////////////////////*/


/*image gagnante*/

#gagnant {
    height: 300px;
    width:100%;
    position: relative;
    border-radius: 25px 25px 25px;
}

#boutonmodal{
  z-index:99 !important;
  position :relative;

}
@media only screen and (max-width: 320px){
  #boutonmodal{
    text-align:center ;
    margin:auto;
  }
}

/*place commentaire*/

/*clignotement*/
@keyframes fadeinout {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.blink {
    animation: fadeinout 2s infinite;
    font-family: Ubuntu;
    padding-bottom:5%;
    color: #333E52;
}
/*///////////////////////////////////////*/

#Compte{
padding-bottom:2%;
  font-family: Digital;
  color:red;
  width:100%;
}
#colorred{
color:red;
}

#Compte span{
  color:black;

}

.com
{
  border-bottom:1px solid #004d40;
  padding-bottom:10px;

}
.commentaire{

  height:20%;
  color:#004d40;
}
.borderRight
{
  border-right:1px solid #004d40;
}

.dates {

  height:30px;
  color:#004d40;
  text-align:center;
}
.speudo{
  height:30px;
  color:#004d40;
  text-align:center;
}
#modal1{
  background-color:white;
  border-radius: 40px 40px 40px;
  width:100%;
}
#like{

  width:auto;
  height:auto;
  margin-top:60%;
  font-size: 2em;
  color:#64dd17;

}
#like1{
  font-size: 2em;
  width:auto;
  height:auto;
  margin-top:20%;
  color:red;

}
.disliker{
  height:20px;
  width:20px;
  color:red;

}
.liker{
  height:20px;
  width:20px;
  color:#64dd17;
}
#like1 span
{
  vertical-align:30px;
  padding-right:5px;
  display:inline-block;
}
#like span
{
  vertical-align:10px;
  padding-right:5px;
  display:inline-block;
}
.ajout{
  color: #004d40;

}
