@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-M.ttf")
}

@font-face {
    font-family: "Digital";
    src: url("../fonts/DigitalPlayItalicSt.ttf")
}

/*logo taille */


#texte {
z-index:99 !important;
color:white;
text-align:center;
margin-top:10%;
font-family:Ubuntu;
font-size: 3em;

}

/*///////////////////////////////////////////////////*/


/*image gagnante*/

#gagnant {
    height: 300px;
    width:100%;
    position: relative;
    border-radius: 25px 25px 25px;
}

#boutonmodal{
  z-index:99 !important;
  position :relative;

}
@media only screen and (max-width: 320px){
  #boutonmodal{
    text-align:center ;
    margin:auto;
  }
}

/*place commentaire*/

/*clignotement*/
@keyframes fadeinout {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.blink {
    animation: fadeinout 2s infinite;
    font-family: Ubuntu;
    padding-bottom:5%;
    color: #333E52;
}
/*///////////////////////////////////////*/
#commentaire{
  border:1px solid #c4c4cb;
  height:265px;
  overflow: scroll;
  margin-top:1.8%;
}
#Compte{
padding-bottom:2%;
  font-family: Digital;
  color:red;
  width:100%;
}
#colorred{
color:red;
}

#Compte span{
  color:black;

}


#comme{
  text-align: center;
  color:#004d40;
}
#datess{
  text-align:center;
  color:#004d40;
}
#speudos{
  text-align:center;
  color:#004d40;
}
.com{
  border-bottom:1px solid #004d40;
  width:100%;
  height:30px;
   color:#004d40;
   text-align:center;


}

.dates {
  border-bottom:1px solid #004d40;
  height:30px;
  color:#004d40;
  text-align:center;


}
.speudo{
  height:30px;
  border-bottom:1px solid #004d40;
  color:#004d40;
text-align:center;
}
#modal1{
  background-color:white;
  border-radius: 40px 40px 40px;
  width:100%;
}
