@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-M.ttf")
}

@font-face {
    font-family: "Digital";
    src: url("../fonts/DigitalPlayItalicSt.ttf")
}

@font-face {
    font-family: "Titre";
    src: url("../fonts/titre.ttf")
}

/*logo taille */


#texte {
z-index:99 !important;
color:white;
text-align:center;
margin-top:10%;
font-family:titre;
font-size: 5em;

}

/*///////////////////////////////////////////////////*/


/*image gagnante*/

#gagnant {
    height: 300px;
    border-radius: 25px 25px 25px;

}

#boutonmodal{
  z-index:99 !important;
  position :relative;
  margin-bottom: 20px;

}
@media only screen and (max-width: 320px){
  #boutonmodal{
    text-align:center ;
    margin:auto;
  }
}

#divgagnant {
  margin-bottom: 20px;
  margin-top: 60px;
  display: inline-block;
  position: relative;

}
/*place commentaire*/

/*clignotement*/
@keyframes fadeinout {
    from {
        opacity: 0.5;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.blink {
    animation: fadeinout 2s infinite;
    font-family: Ubuntu;
    padding-bottom:5%;
    color:#f0c42b;
}
/*///////////////////////////////////////*/
              /*compte a rebour*/
#Compte{
padding-bottom:2%;
  font-family: Digital;
  color:red;
  width:100%;
}
#colorred{
color:red;
}

#Compte span{
  color:black;

}
/*/////////////////////////////////////////*/
/*  pseudogagnant*/
#pseudogagnant{
  color:red;
font-size:40px;
text-align: center;
font-family:Titre;
}

.
.borderBottom
{
  border-bottom:1px solid #004d40;
  padding-bottom:10px;
}
.borderRight
{
  border-right:1px solid #004d40;
}
.borderRight span
{
  font-size:1.3em;
}


#modal1{
  background-color:white;
  width:100%;
}
/*/////////////////////////////////////////*/
          /*pouce */
#like1 .disliker{
  bottom: 20px;
  position: absolute;
  right: 20px;
  font-size: 3em;
  color:red;

}
#like .liker{
  bottom: 20px;
  position: absolute;
  left: 20px;
  font-size: 3em;
  color:green;
}
#like1 .num
{
  color: red;
  bottom: 20px;
  right: 70px;
  position: absolute;
  font-size: 2em;

}
#like .num
{
  font-size:2em;
  left: 70px;
  color: green;
  bottom: 20px;
  position: absolute;
}
