
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-M.ttf");
}


@font-face {
    font-family: "Titre";
    src: url("../fonts/titre.ttf");
}



/*############DESCRIPTION###########*/

#description p {
    font-family: Ubuntu;
    padding: 2%;
    text-align: justify;
    text-align-last: center;
    font-size: 1.3em;
    color:#004D40;
}

#description h1 {
    font-family: Titre;
    text-align: center;
    color: #004D40;
}



.btn {
    font-family: Ubuntu;
    background-color: #004D40;
    margin-bottom: 2%;
}

.btn:hover {
    background-color: #004D40;
}

.btn:focus {
    background-color:#004D40;
}

.staggered-test p {
    font-size: 1em;
    font-family: Ubuntu;
    text-align: left;
    color: #004D40;
    margin-left: 33%;
}

/*######################REST#######################*/


#rest h4 {
    font-size: 4em;
    font-family: Titre;
    color: #004D40;
    padding: 2%;
}


.rest img {
  height: 300px;
  border: solid black 1px;
}


.like{
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: green;
}

.dislike {
  position: absolute;
  right: 10px;
  bottom: 20px;
  color: red;
}

.nbrlike {
  font-size: 30px;
  position: absolute;
  right: 50px;
  bottom: 20px;
  color: red;
}

.nbrdislike {
  font-size: 30px;
  position: absolute;
  left: 50px;
  bottom: 20px;
  color: green;
}

.restpseudo {
  font-family: Titre;
  color: #004D40;
  font-size: 2em;
}

.containerImg {
  display: inline-block;
  position: relative;
}

 .backGwhite {
   z-index:2;
   bottom: 0;
   width: 100%;
   position: absolute;
   height: 70px;
   background-color: rgba(255,255,255,.5);
 }
/*###########CHRISTIAN############*/
#Compte {
    padding: 1%;
    margin: auto;
    font-size: 2em;
}

#Compte span {
  font-family: Ubuntu;
}


/*##########GOTOTOP##########*/

#goToTop {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 50px;
}

#goToTop a {
  color:black;
  outline: none;
  opacity: 0.5;
}
