@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-M.ttf");
}

body {
  overflow-x: hidden;
}
/*############DESCRIPTION###########*/

#description p {
    font-family: Ubuntu;
    padding: 2%;
    text-align: justify;
    text-align-last: center;
    font-size: 1.3em;
    color:#004D40;
}

#description h1 {
    font-family: Ubuntu;
    text-align: center;
    color: #004D40;
}

#conditions {
    display: none;
}

.btn {
    font-family: Ubuntu;
    background-color: #004D40;
    margin-bottom: 2%;
}

.btn:hover {
    background-color: #004D40;
}

.btn:focus {
    background-color:#004D40;
}

.staggered-test p {
    font-size: 1em;
    font-family: Ubuntu;
    text-align: left;
    color: #004D40;
    margin-left: 33%;
}


#rest h4 {
    font-family: Ubuntu;
    color: #004D40;
    margin-bottom: 5%;
    padding: 2%;
}

.rest img {
  height: 300px;
  border: solid black 1px;
  margin: 2%;
}

#rest .row {
  height: 100%;
  width: 100%;
}
