@media all and (max-width: 600px)
{
  #navBar
  {
    height:200px !important;
    width:100% !important;
  }
  #navBar div
  {
    width:100% !important;
  }
  #container-main
  {
    padding-left:0 !important;
    padding-top:200px;
  }
  #navBar a
  {
    height:220px !important;
    display:flex !important;
    flex-direction:column;
    justify-content:center;
  }
}
body, html
{
  height:100%;
}
#navBar
{
  position:fixed;
  left:0;
  top:0;
  z-index:999;
  height:100%;
  width:205px;
}
#navBar div
{
  width:205px;
}
#navBar a
{
  padding:20px 0 20px 0;
  display:block;
  text-align:center;
  outline:none;
  color:white;
}
#navBar a:hover
{
  background-color:#01579b;
}
#navBar a img
{
  display:inline;
  width:70px;
}
#container-main
{
  padding-left:200px;
}
nav
{
  background-color:transparent;
  box-shadow:none;
}
