body, html, #container-left
{
  height:100%;
}
#navBar
{
  height:100%;
  position:fixed;
  left:0;
  top:0;
  padding-bottom:50px;
}
#navBar a img
{
  margin-bottom:-50px;
}
nav
{
  background-color:transparent;
  box-shadow:none;
}
#container-right
{
  padding:0;
}
