@font-face{
  font-family: mario;
  src:url(../fonts/SuperMario256.ttf);
}
@font-face {
src:url(../fonts/Ubuntu-M.ttf);
font-family: Ubuntu;
}
@font-face{
  font-family: louisa;
  src:url(../fonts/louisa.otf);
}
@media all and (max-width: 600px){
  #historic{
    list-style: none;
    height:300px !important;
    width:100% !important;
  }
}
.elise{
  font-size: 30px;
  font-family: louisa;
}
#about{
    text-align: justify;
    font-family: Ubuntu;
    outline: none;
}
.carousel-item {
  outline: none;
  text-align: justify;
  text-align-last: center;
  color:#2a2a2a;
  font-family: louisa;
  width:300px !important;
}
/*.picture{
  width: 100px;
  height:100px;
}*/
.carousel{
    margin-top: -200px;
    height:800px !important;
}
.carousel p{
    font-size: 20px;
}
 .titrecar {
   text-align: center;
   font-family: mario;
   font-size: 50px;
   color:#65909A;
 }
 .name{
   font-size: 20px;
   font-family: Ubuntu;
   padding-right: 20px;
 }
.liste{
  border: none !important;
}
 .win{
   width:20%;
   height:20%;
 }
 .blue{
background-color: #3299CC;
 }
.date{
  text-align: center;
  display: inline-flex;
}
 .icon{
   color: #36648B;
   padding-right: 40px;
   padding-left: 40px;
 }
 .titreabout {
   text-align: center;
   font-family: Ubuntu;
   font-size: 50px;
   color:#65909A;
 }
 .icon:hover {
   color: black;
 }
 .titreli{
   text-align: justify;
   text-align-last: center;
   color:#2a2a2a;
   font-family: Ubuntu;
 }
