@font-face{
  font-family: mario;
  src:url(../fonts/SuperMario256.ttf);
}
@font-face {
src:url(../fonts/Ubuntu-M.ttf);
font-family: Ubuntu;
}
.elise{
  padding-left: 2%;
  padding-right: 2%;
}
.carousel .carousel-item {
  outline: none;
  text-align: justify;
  text-align-last: center;
  color:#2a2a2a;
  font-size: 20px;
  font-family: Ubuntu;
width:350px !important;}

 .titrecar {
   text-align: center;
   font-family: mario;
   font-size: 50px;
   color:#65909A;
   padding: 2%;
 }
