@font-face{
  font-family: mario;
  src:url(../fonts/SuperMario256.ttf);
}
@font-face {
src:url(../fonts/Ubuntu-M.ttf);
font-family: Ubuntu;
}
.elise{
  padding-left: 2%;
  padding-right: 2%;
}
#about{
    text-align: justify;
    font-family: Ubuntu;
    outline: none;
}
.carousel-item {
  outline: none;
  text-align: justify;
  text-align-last: center;
  color:#2a2a2a;
  font-family: Ubuntu;
  width:350px !important;
}
.carousel{
    height:490px !important;
}
.carousel p{
    font-size: 20px;
}
 .titrecar {
   text-align: center;
   font-family: mario;
   font-size: 50px;
   color:#65909A;
 }
 .name{
   font-size: 20px;
   font-family: Ubuntu;

   padding-right: 20px;
 }
 .win{
   width:20%;
   height:20%;
 }
 .blue{
background-color: #3299CC;
 }
.date{
  text-align: center;
  display: inline-flex;
}
 .icon{
   color: #36648B;
   padding-right: 20px;
   padding-left: 40px;
 }
 .titreabout {
   text-align: center;
   font-family: Ubuntu;
   font-size: 50px;
   color:#65909A;
 }
 .titreli{
   text-align: justify;
   text-align-last: center;
   color:#2a2a2a;
   font-family: Ubuntu;
 }
 #historic{

 }
