@font-face{
  font-family: mario;
  src:url(../fonts/SuperMario256.ttf);
}
@font-face {
src:url(../fonts/Ubuntu-M.ttf);
font-family: Ubuntu;
}
.elise{
  padding-left: 2%;
  padding-right: 2%;
}
#about{
    text-align: justify;
    font-family: Ubuntu;
    outline: none;
}
.carousel-slider{
  height: 400px !important;
}
.carousel-item {
  outline: none;
  text-align: justify;
  text-align-last: center;
  color:#2a2a2a;
  font-family: Ubuntu;
  width:350px !important;
}
.carousel{
     overflow: visible;
    font-size: 20px;
}
 .titrecar {
   text-align: center;
   font-family: mario;
   font-size: 50px;
   color:#65909A;
 }
#car{

 }
 .titreabout {
   text-align: center;
   font-family: Ubuntu;
   font-size: 50px;
   color:#65909A;
 }
 #historic{

 }
